body {
    font-family: 'Montserrat', sans-serif;
    background-color: #32105f;
    color: #ffffff;
}

h1 {
    font-size: 10em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.15em;
}

.color-title {
    color: #ff99bb;
}

.subtitle {
    font-weight: 550;
}


th {
    background: rgba(255, 90, 206, 0.25);
}

td {
    padding: .2em .8em;
    border: 1px solid rgba(16, 76, 167, 0.25);
    background: rgba(90, 156, 255, 0.25);
    text-align: left;
}

ol {
    margin-block-start: 1em;
    padding-inline-start: 1em;
}

img {
    width: 100%;
}

@media (max-width: 576px) {
    h1 {
        font-size: 4em;
    }
}