body {
    font-family: 'Montserrat', sans-serif;
    background-color: #32105f;
    color: #ffffff;
    margin: 0;
}


#bootstrap-overrides h1 {
    font-size: 10em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.15em;
}

.subtitle {
    margin-top: 0px;
    margin-right: 370px;
    font-size: 20px;
    font-style: italic;
    text-align: right;
}

.color-title {
    color: #ff99bb;
}

.review {
    width: 80%;
    text-align: center;
    margin: auto;
}

.music {
    width: 80%;
    margin: auto;
    margin-top: 6em;
}

.gallery-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container h3 {
    font-weight: normal;
}

th {
    background: rgba(255, 90, 206, 0.25);
}

td {
    padding: .2em .8em;
    border: 1px solid rgba(16, 76, 167, 0.25);
    background: rgba(90, 156, 255, 0.25);
    text-align: left;
}

ol {
    margin-block-start: 1em;
    padding-inline-start: 1em;
}

.spotify-frame {
    width: 100%;
    margin-top: 1.60em;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.chromatica-cover,
.gif-size {
    width: 100%;
    object-fit: cover
}

.gif-img-size {
    width: 100%;
}

.plus-icon {
    width: 3em;
    height: auto;
}

.imageSize {
    width: 100%;
    border: solid 4px #ff99bb;
}

.gifsection {
    margin: 1em;
}

.galery-img {
    object-fit: cover;
    height: 16em;
    width: 100%;
    margin-top: 1.05em;
}

.no-padding {
    padding: 0;
}

@media (max-width: 576px) {
    #bootstrap-overrides h1 {
        font-size: 5em;
    }
    .body-container {
        width: 100%;
    }
    .review,
    .music {
        margin-top: 4em;
    }
    .top5 {
        margin-top: 4em;
    }
    .imageSize {
        object-fit: cover;
        width: 80%;
    }
    .plus-icon {
        margin-left: 15em;
    }
}